
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100;1,900&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400;1,900&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	transition: all 0.5s linear;

font-family: 'poppin', sans-serif;

}

.navbar{
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	background: #a13659;
	box-shadow: rgba(100, 100, 110, 0.7) 0px 7px 29px 0px;
	padding: 0 4%;
}

.logo{
	font-size: 30px;
	color: white;
	letter-spacing: 3px;
}

.logo span{
	color: #FC6C58;
}

.navbar li{
	display: inline-block;
	padding: 10px 8px;
}

.navbar li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 4px;
}

.navbar ul li::after{
	content: '';
	height: 2px;
	width: 0;
	background: #FC6C58;
	display: block;
	margin: auto;
	transtion: 0.5s;
}

.navbar ul li:hover::after{
	width: 100%;
}

.burger{
	display: none;
	position: absolute;
	z-index: 3;
	top: 13%;
	right: 5%;
	cursor: pointer;
	font-size: 33px;
	color: #FC6C58;
}

/*---home---*/

.slide{
	widtdh: 100%;
	height: 90vh;
}
.slide1{
	background: url(images/cute.jpeg) on-repeat center center/cover ;
}

.slide2{
	background: url(images/face.jpeg) on-repeat center center/cover;
}

.slide3{
	background: url(images/kajala.jpeg) on-repeat center center/cover;
}

.slide-text{
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column ;
	height: 100vh;
	width: 40%;
	margin: auot;
	text-align: center;
}

.btn{
	background-color: #a13659;
	color: #fff;
	border: none;
	border-radius: 10px;
	padding: 10px 27px;
	font-size: 20px;
	coursor:pointer;
}

.btn:hover{
	background-color: #555;
	letter-spacing: 2px;
}

.slide-tex h1{
	letter-spacing: 1px;
	font-size: 28px;
}

.slide-text p{
	padding: 2% 0;
}

.para{
	color: #fc6c85;
	fontsize: 20px;
}

.control{
	position: absolute;
	top: 50%;
	transform: translateY(-50px);
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	padding: 0 3%;
}

.dot{
	position: absolute;
	bottom: 40px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.dot{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #bbb;
	border-radius: 50%;
	margin: 0 5px;
	cusor: pointer;
}

.dot .active{
	background-color: #555;
}

.btn2{
	background-color: transparent;
	border: none;
	color: #777;
	font-size: 60px;
	cursor: pointer;
}

/*____story--*/
.sec{
	width: 80%;
	margin: auto;
	padding: 5% 0;
	text-align: center; 
}

.row{
	display: flex;
	justify-content: center;
	align-items: center;
}

.right{
	width: 40%;
	margin-left: 5%;
	text-align: top;
}

.para{
	padding: 2% 0;
	color: #666;
}

.heading{
	color: #a13659;
	font-size: 30px;
}

.btn{
	background-color: transparent;
	color:  #a13659;
	border-radius: 2px;
	border: 2px solid #a13659;
}

.btn:hover{
	color: #fff;
}

/*___service__*/

.ser{
	background-color: #fdc4c4;
	width: 100%;
}

.box{
	width: 75px;
	margin: auto;
}

.boxes{
	text-align: center;
	background-color: #ff1f1f;
	padding: 12px 15px;
	margin: 2% 1%;
	border-radius: 10px;
}

.boxes:hover p{
	color: #999;
}

.boxes:hover img{
	filter: invert(100%);
}

.boxes:hover h1{
	color: white;
}

.boxes:hover img{
	width: 80px;
}

.boxes p{
	font-size: 13px;
}

/*____classes*/

.cls{
	width: 100%;
}

.class{
	padding: 3% 1%;
	width: 50%;
	background-color: #a13659;
	color: #fff;
}

.class h1{
	font-size: 60px;
	letter-spacing: 2px;
}

.class p{
	color: #999;
	padding-top: 12px;
}

.class-box{
	text-align: center;
	padding: 0 1%;
}

.class-box p{
	font-size: 12px;
	padding: 12px;
}

.class-box i{
	font-size: 50px;
	color: #a13659;
	padding-bottom: 2%;
}

.class-box i:hover{
	transform: rotate(30deg);
}

/*____exp __*/

.exp{
	background-color: #fbfbfb;
	width: 100%;
}

.cont{
	width: 50%;
	margin: auto;
}

.cont h2{
	color: #a13659;
}

/*____contact-sec */

.contact{
	padding: 2% 5%;
	color: #a13659;
	margin-top: 2%;
}

.contact i{
	font-size: 40px;
	padding-bottom: 12px;
}

.contact i:hover{
	transform: scale(1.8);
	cursor: pointer;
	color: #fc6c85;
}

.footer{
	text-align: center;
	color: #fff;
	padding: 12;
	background-color: black;
}

@media only screen and(max-width: 750px){
	.burger{
		display: block;
	}
	.navbar{
		height: 400px;
		justify-content: space-around;
		flex-direction: column;
		transition: all 0.9s ease-out;
		position: relative;
		overflow: hidden;
		padding: 3% 0;
	}
	.navbar li{
		display: block
	}
	.h-class{
		height: 78px;
	}
	.v-class{
		opacity: 0;
	}
	.row{
		flex-direction: column;
	}
	.right{
		width: 80%;
	}
	.class{
		width: 100%;
		padding: 2%;
	}
	.class-box{
		padding: 4% 10%;
	}

}
















