@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&family=Roboto:ital,wght@0,400;1,400;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif; 
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: black;
}

.contact h2{
	font-size: 40px;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}

.contact form{
	width: 600px;
	text-align: center;
}

form .input-box{
	display: flex;
	justify-content: space-between;
}

.input-box .input-field{
	width: 40.51%;
}

.field .item{
	width: 100%;
	padding: 18px;
	background: transparent;
	border: 2px solid green;
	outline: none;
	border-radius: 6px;
	font-size: 16px;
	color: #fff;
	margin: 12px 0;
}

.field .item{
	color: rgba(255, 255, 255, .3);
}

.field .error-txt{
	font-size: 14.5px;
	color: red;
	text-align: left;
	margin: -5px 0 10px;
	display:  none;
}

form .textarea-field .item{
	resize: none;
}

form .textarea-field .error-txt{
	margin-top: -10px;
}

form button{
	padding: 12px 32px;
	background: skyblue;
	border: none;
	outline: none;
	border-radius: 6px;
	box-shadow: 0 0 10px yellow;
	font-size: 16px;
	color: #555;
	letter-spacing: 1px;
	font-weight: 600;
	cursor: pointer;
	margin-top: 20px;
	transition: .5s;
}

from button:hover{
	box-shadow: none;
}