*{
	margin: 0;
	paddinng: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;
}
.container{
	height: 100vh;
	width: 100%;
	background: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn{
	padding: 10px 60px;
	background: #fff;
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 22px;
	font-weight: 500;
	border-radius: 30px;
}
.popup{
	width: 400px;
	background: #fff;
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50px,-50px) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	visibility: hidden;
	transition: transfrom 0.4s, top 0.4s;
}
.open-popup{
	visibility: visible;
	top: 50%;
	transform: translate(-50px,-50px) scale(1);
}

.popup h2{
	font-size: 30px;
	font-weight: 500px;
	margin: 30px 0px 10px;
}
.popup button{
	width: 100%;
	margin-top: 50px;
	padding: 10px 0;
	background: #6fd649;
	color: #333;
	border: 0;
	outline: none;
	font-size: 18px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}