
.choiceBtn{
	line-height: 30px;
	width: 150px;
}
#gamediv{
	font-family: sans-serif;
	broder: 3px solid;
	border-radius: 25px;
	padding: 10px;
	background-color: lightgray;
	text-align: center;
}
#playertext{
	color: skyblue;
}
#computerttext{
	color: red;
}