
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100;1,900&family=Roboto:ital,wght@0,300;1,100;1,300;1,400;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #d2d2d2;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.left,
.right {
	width: 320px;
	min-height: 375px;
	margin: 20px;
	border-radius: 10px;
	border: 3px solid rgba(255,255,255, 0.25);
}

.items {
	color: orangered;
	background: rgba(255,255,255, 0.25);
	display: flex;
	align-items: center;
	height: 55px;
	margin: 30px;
	padding: 20px;
	font-size: 18px;
	border-radius: 10px;
	cursor: grab;
}
